.hero {
  display: flex;  
  align-items: center;  
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: center;
  
}

.hero-content {    
  padding: 8px;
}